@font-face {
  font-family: 'Exo 2';
  src: url(FONT_FILE_NAME.woff2) format('woff2');
}

#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  font-family: "Exo 2", sans-serif;
}

@keyframes rotateAnimation {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.main__blob {
  animation: rotateAnimation infinite 70s linear;
}

.departments> :nth-child(1) {
  animation: rotateAnimation 70s infinite 0.5s reverse;
}

.departments> :nth-child(2) {
  animation: rotateAnimation 70s infinite 1s normal;
}

.departments> :nth-child(3) {
  animation: rotateAnimation 70s infinite 1.5s reverse;
}

.departments> :nth-child(4) {
  animation: rotateAnimation 70s infinite 2s normal;
}

.departments> :nth-child(5) {
  animation: rotateAnimation 70s infinite 0.5s reverse;
}

.departments> :nth-child(6) {
  animation: rotateAnimation 70s infinite 1s normal;
}

.departments> :nth-child(7) {
  animation: rotateAnimation 70s infinite 1.5s reverse;
}

.departments> :nth-child(8) {
  animation: rotateAnimation 70s infinite 2s reverse;
}

.departments> :nth-child(9) {
  animation: rotateAnimation 70s infinite 2.5s normal;
}